<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Informations de la carte</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Semantic-UI-CSS-master/semantic.min.css}">

    <script type="text/javascript" th:src="@{/lib/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/Semantic-UI-CSS-master/semantic.js}"></script>
    <script type="text/javascript" th:src="@{/js/searchCard.js}"></script>


</head>
<body>
    <div class="ui pointing menu">
        <a class="item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item active">
            Friends
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search..." id="searchInput">
                    <i class="search link icon" id="searchIcon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui five column grid">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <div class="ui special cards" id="cardContainer">
                <div class="card">
                    <div class="content">
                        <img id="cardFamilyImgId" class="ui avatar image" th:src="${card.smallImgUrl}">
                        <span id="cardFamilyNameId" th:text="${card.family}"></span>
                    </div>
                    <div class="image imageCard">
                        <div class="blurring dimmable image">
                            <div class="ui inverted dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui primary button">Add Friend</div>
                                    </div>
                                </div>
                            </div>
                            <img id="cardImgId" class="ui centered tiny image" th:src="${card.imgUrl}">
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui form tiny">
                            <div class="field">
                                <label id="cardNameId" th:text="${card.name}"></label>
                                <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="5" th:text="${card.description}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <i class="heart outline icon"></i><span id="cardHPId" th:text="${card.hp}"></span>
                        <div class="right floated ">
                            <i class="lightning outline icon"></i>
                            <span id="cardEnergyId" th:text="${card.energy}"></span>
                        </div>
                    </div>
                    <div class="content">
                        <span class="right floated">
                            <i class=" wizard icon"></i>
                            <span id="cardAttackId" th:text="${card.attack}"></span>
                        </span>
                        <i class="protect icon"></i>
                        <span id="cardDefenceId" th:text="${card.defense}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
